* {
    margin: 0;
    padding: 0;
}
.body {
    width: 100%;
    margin: auto;      
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    float: left;
    background: #333333;
    color: #fff;
    font-family: Arial, sans-serif;
    padding-top: 45px;
    padding-right: 71px;
    padding-left: 71px; 
    font-size: 60px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
}
.Main title{   
    font-size: 60px;
}
.menu > li {
   display:inline-block;
}  
.menu > li >a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;  
}   
.name {
    border-bottom: 3px dotted grey;
    font-family: Times New Romanl;
    width: 100%;
}   
.class1 {
    padding-top: 201px;
    font-size: 60px;
    padding-right: 71px;
    padding-left: 71px;
    font-family: Times New Romanl;   
}
.blue{
    color: #0f94c9;
}
.name2 {
    padding-bottom: 36px;   
    color: #bbbbbb;
    font-size: 50px;
    padding-right: 71px;
    padding-left: 71px;
    border-bottom: 3px dotted grey;
    font-family: Times New Romanl; 
    width: 100%;  
    }
.task {
    text-align:left;
    color: #555555;
    font-size: 34px;
    border-bottom: 3px dotted grey;  
    padding-top: 30px;
    padding-bottom: 30px; 
    padding-right: 71px;
    padding-left: 71px;
    line-height: 42px;
    width: 100%;
    }
.bold, .bold1 {
    font-weight: bold;
}
 /* About*/
 .itame{
       /* border-bottom: 3px dotted grey; */
       width: 100%;
       padding-left: 71px;
       padding-right: 71px;
       padding-top: 45px;
       padding-bottom: 45px;
}
.services {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    width: 100%;   
    }
.subtitle1, .subtitle2, .subtitle3 {
    font: 40px/40px Times New Roman;
    border-bottom: 1px dotted;
    /* width: 237px; */
    padding-top: 25px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;                 
                }
.about, .market, .optimal {
width: 228px;
padding: 27px 32px 31px 32px;
font-size: 14px;
}
.itame1 .btn, .itame2 .btn1, .itame3 .btn2 {
    display: block;
    background: #0076a3;
    margin-left: 27px;
    margin-right: 27px;
    line-height: 41px;
    color: #fff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    width: 230px;           
    }
.itame1, .itame2, .itame3{
    background-color: #00aeef;
    /* width: 283px; */
    height: 351px;
    padding: 45px, 21px, 35px, 21px;
    font: 400 14px/21px Arial, sans-serif;
    text-align: center;
    color: #fff;
    margin-right: 20px;  
}
.Comment_Info{
    display: block;
    width: 100%;
    border-bottom: 3px dotted grey;
    border-top: 3px grey dotted;
    height: 460px; 
}
/*Left block*/
.info1{
    float: left;
    width: 45%;
    margin-left: 40px;  
    margin-top: 34px;
    margin-bottom: 34px;     
} 
.subtitle4{
        color: #555555;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;    
}
.text1{
   display:flex;
    width: 50%;
    padding-top: 29px;   
 }
.p1{
    float: left;
    padding-right: 30px;
    padding-bottom: 25px;
    } 
.group1{
        font: 13px  Arial;
        color: #555555; 
        margin-bottom: 10px;    
    }
.sign {
    font-weight: bold;
    padding-left: 110px;
    margin-top: -54px;  
    font: 13px  Arial;
    color: #0f94c9;   
}
 .text2 {
display:flex;
 width: 50%;
 padding-top: 29px;  
}
.p2 {
 float: left;
 padding-right: 30px;
 padding-bottom: 25px;
} 

.group2 {       
font: 13px Arial;
color: #555555;           
}

.text3 {
display:flex;
width: 50%;
margin-top: 29px;           
}

.p3 {
float: left;
padding-right: 30px;
padding-bottom: 25px;
} 

.group3 {
font: 13px Arial;
color: #555555;                
}
 /*right block*/
.info2 {
    border-left: 3px dotted grey;
    padding-left: 50px;
    float: right;
    width: 50%; 
    margin-top: 34px;         
}
.subtitle5 {
 color: #555555;
 font-family: 'Times New Roman', Times, serif;
 font-size: 24px;
}
.text5 {
    padding-top: 24px;
    font: 20px Arial;
    color: #888888;
}
.p4{
    padding-top: 10px;
    padding-left: px;
    display: block;   
}
.text6{
    font: 14px Arial;
    color: #555555;
    padding-top: 10px;
    padding-bottom: 10px;
}           
.btn3{
    color: #00aeef;
    text-decoration: none;
}
.footer{
    float: left; 
    padding-left: 70px;
    margin-top: 30px;
    color: #888888;
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 100%;
}
